<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <!--Balise OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ opengraphTitle || 'Bretteville Basket Cingal' }}" />
    <meta
      property="og:description"
      content="{{ opengraphDescription || 'Page Du Club Bretteville Basket Cingal' }}"
    />
    <meta
      property="og:image"
      content="{{ opengraphImg || request.protocol() + '://' + request.host() + '/img/logo-bbc.png' }}"
    />
    <meta property="og:url" content="{{ request.completeUrl() }}" />
    <meta property="og:site_name" content="Bretteville Basket Cingal" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      {{ pageTitle }}
    </title>

  </head>
  <body class="">
    <header
      class="bg-[url('/img/board.png')] flex justify-center md:justify-between w-full items-center relative h-30 sm:h-40 overflow-hidden"
    >

      {{-- symbole bouton burger --}}
      <button
        id="burger"
        aria-label="bouton burger"
        class="absolute z-10 flex flex-col justify-between w-10 h-8 sm:hidden focus:outline-none top-5 right-5"
      >
        <span class="block h-1 w-full bg-white"></span>
        <span class="block h-1 w-full bg-white"></span>
        <span class="block h-1 w-full bg-white"></span>
      </button>
      {{-- logo fond transparent --}}
      <img
        src="/public/img/logo-bbc.png"
        class="min-w-120 w-180 absolute  md:-right-89.5 -top-20 sm:-top-22 opacity-40"
        alt=""
      />

      <div class="relative ml-5 xl:ml-20">
        <img src="/public/img/logo-parchemin.png" class="max-h-40 hidden md:block" alt="logo-parchemin" />
        <h1 class="max-w-60  sm:hidden text-xl text-white text-center font-timeline">
          Bretteville Basket Cingal
        </h1>
        <h1
          class="absolute top-10/12 xl:-left-8 font-timeline text-[0.55rem] xl:text-[0.7rem] hidden md:block"
        >
          Bretteville&nbsp;basket&nbsp;cingal
        </h1>
      </div>

      <nav class="hidden sm:block md:mr-4 xl:mr-20">

        <ul
          class="flex gap-2 md:gap-5 xl:gap-10 uppercase font-timeline text-[0.8rem] md:text-[0.95rem] xl:text-[1.2rem] text-white"
        >
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)] relative group">
            <a href="" class="">accueil</a>
            <span class="absolute bottom-0 left-0 w-0 h-1.5 bg-roses group-hover:w-full"></span>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)] relative group">
            <a href="">boutique</a>
            <span class="absolute bottom-0 left-0 w-0 h-1.5 bg-roses group-hover:w-full"></span>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)] relative group">
            <a href="">matchs</a>
            <span class="absolute bottom-0 left-0 w-0 h-1.5 bg-roses group-hover:w-full"></span>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)] relative group">
            <a href="">evenements</a>
            <span class="absolute bottom-0 left-0 w-0 h-1.5 bg-roses group-hover:w-full"></span>
          </li>
        </ul>
      </nav>

      <!-- Menu Mobile -->
      <div
        id="menuMobile"
        class="fixed top-0 right-0 z-40 flex flex-col w-1/2 h-full gap-10 p-6 transition-transform duration-300 transform translate-x-full bg-bleu opacity-90 backdrop-blur-lg lg:hidden"
      >
        <button id="close" class="self-end text-2xl font-bold text-white">&times;</button>

        <a href="" class="text-lg text-white uppercase font-timeline">Accueil</a>
        <a href="" class="text-lg text-white uppercase font-timeline">Boutique</a>
        <a href="" class="text-lg text-white uppercase font-timeline">Matchs</a>
        <a href="" class="text-lg text-white uppercase font-timeline">Evenements</a>
      </div>
    </header>

    {{-- -------------------------- CONTENU --------------------------------- --}}
    <main>
      {{{ await $slots.main() }}}
    </main>

    <footer class="mt-30">
      <div class="bg-roses">
        <img src="/public/img/footer.png" class="w-min-full" alt="" />
        <address class="font-manrope not-italic  ml-20 pb-4 text-sm sm:text-base">
          <div class="flex items-center">
            <img src="/public/img/graphics-solid-squarephonesvg.png" alt="" />
            <p class="text-white ml-3 font-bold">
              06 72 37 18 67
            </p>
          </div>
          <div class="flex items-center">
            <img src="/public/img/graphics-solid-envelopesvg.png" alt="" />
            <p class="text-white ml-3 font-bold">
              bbcingal
              @gmail.com
            </p>
          </div>

          <div class="flex items-center">
            <img src="/public/img/graphics-brands-squarefacebooksvg.png" alt="" />
            <a
              class="text-white font-bold ml-3"
              href="https://www.facebook.com/BrettevilleBasketCingalPage/?locale=fr_FR"
            >Bretteville Basket Cingal</a>
          </div>

        </address>
      </div>
    </footer>

    <script>
      const burger = document.getElementById("burger");

      const menuMobile = document.getElementById("menuMobile");

      const closeBtn = document.getElementById("close");

      burger.addEventListener("click", () => {
        menuMobile.classList.remove("translate-x-full");
      });

      closeBtn.addEventListener("click", () => {
        menuMobile.classList.add("translate-x-full");
      });
    </script>
  </body>

</html>
