@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Timeline';
  src: url('/public/font/Timeline.ttf');
}

@theme {
  --font-timeline: 'Timeline', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --breakpoint-md: 800px;
}

:root {
  --color-rose: #da0f83;
  --color-bleu: #0065a0;
}

.bg-bleu {
  background-color: var(--color-bleu);
}

.text-bleu {
  color: var(--color-bleu);
}

.text-roses {
  color: var(--color-rose);
}

.bg-roses {
  background-color: var(--color-rose);
}
