<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      Document
    </title>
  </head>
  <body>

    <h1 class="text-2xl font-bold mb-4">
      Modifier l'article
    </h1>

    <form
      method="POST"
      action="/articles/{{ article.id }}?_method=PATCH"
      enctype="multipart/form-data"
      class="space-y-4"
    >
      <!-- CSRF -->
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <div>
        <label for="name">Nom article</label>
        <input type="text" name="name" value="{{ article.name }}" class="input" />
      </div>

      <div>
        <label for="description">description</label>
        <textarea name="description" class="input">{{ article.description }}</textarea>
      </div>

      <!-- prix -->
      <div class="flex flex-col">
        <label for="price" class=" text-sm font-medium">Prix</label>
        <input type="number" name="price" step="0.01" min="0" value="{{ article.price }}" class="input border" />
      </div>

      {{-- image --}}
      <div>
        <label for="image" class="block mb-1">modifier l'image</label>
        <input
          id="image-input"
          type="file"
          name="image"
          accept="image/png,image/jpeg,image/webp,image/avif"
          class="input border rounded border-black/40 focus:outline-none focus:ring focus:ring-blue-500 text-sm font-sans pl-1"
        />

        <!-- Preview nouvelle image -->
        <div id="image-preview" class="mt-4">
        </div>

        <div class="space-y-2 mt-4">
          <p class="font-semibold">
            Images actuelle
          </p>
          <img src="/{{ article.image }}" alt="" class="w-24 h-24 object-cover rounded" />

        </div>

      </div>

      <button class="btn-primary">
        Mettre à jour
  </button>
    </form>

  </body>
</html>
