<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      Document
    </title>
  </head>
  <body>

    <a href="/articles/creation" class="btn-primary mb-4 inline-block">Créer un article</a>

    @if(flashMessages.has('success'))
      <div class="p-2 mb-4 text-green-700 bg-green-100 rounded">
        {{ flashMessages.get('success') }}
      </div>
    @endif
    
    <h1 class="text-2xl font-bold mb-4">
      Liste des Article
    </h1>

    @if(articlesList.length === 0)
      <p>
        Aucun Article pour le moment.
      </p>
    @else
      <div class="grid gap-4">
        @each(article in articlesList)
          <div class="p-4 border rounded shadow-sm">
            <h2 class="text-xl font-semibold">
              {{ article.name }}
            </h2>
            <p class="text-gray-700">
              {{ article.description }}
            </p>

            <p class="text-gray-700">
              {{ article.price }}
            </p>

            <img src="{{ article.image }}" alt="" class="w-24 h-24 object-cover rounded" />

            {{-- <a href="/articles/{{ article.id }}" class="text-blue-600 underline text-sm">Voir l’événement</a> --}}
            <a href="/articles/{{ article.id }}/edit" class="text-blue-600 underline">Modifier</a>

            <form method="POST" action="/articles/{{ article.id }}?_method=DELETE">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
              <button class="btn-danger" onclick="return confirm('Supprimer cet article ?')">Supprimer</button>
            </form>

          </div>
        @endeach
      </div>
    @endif
    
      
  </body>
</html>
