<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <!--Balise OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ opengraphTitle || 'Bretteville Basket Cingal' }}" />
    <meta
      property="og:description"
      content="{{ opengraphDescription || 'Page Du Club Bretteville Basket Cingal' }}"
    />
    <meta
      property="og:image"
      content="{{ opengraphImg || request.protocol() + '://' + request.host() + '/img/logo-bbc.png' }}"
    />
    <meta property="og:url" content="{{ request.completeUrl() }}" />
    <meta property="og:site_name" content="Bretteville Basket Cingal" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      {{ pageTitle }}
    </title>

  </head>
  <body>
    <header class="bg-[url('/img/board.png')] flex justify-between w-full items-center">
      <div class="relative ml-10">
        <img src="/public/img/logo-parchemin.png" class="max-w-53" alt="logo-parchemin" />
        <h1 class="absolute top-10/12 -left-3 font-timeline text-[0.8rem]">
          Bretteville&nbsp;basket&nbsp;cingal
        </h1>
      </div>

      <nav class="mr-5">

        <ul class="flex gap-10 uppercase font-timeline text-[1.3rem] text-white">
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)] relative group">
            <a href="" class="">accueil</a>
            <span class="absolute bottom-0 left-0 w-0 h-1 bg-roses group-hover:w-full"></span>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)]">
            <a href="">boutique</a>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)]">
            <a href="">matchs</a>
          </li>
          <li class="bg-black py-1 px-5 [clip-path:polygon(10%_0,100%_0,90%_100%,0_100%)]">
            <a href="">evenements</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {{-- @!section('content') --}}
    </main>

    <footer>
    </footer>

  </body>
</html>
